<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798463010774-l92n498umsb1brch395kvo13kihds3nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798463010774-l92n498umsb1brch395kvo13kihds3nj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>798463010774-c9rmrbboevk5lfunbt9bg6844qaiekgq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDh_x9OAA2TB3D-xIQrsAY9sMrpqpg8QJI</string>
	<key>GCM_SENDER_ID</key>
	<string>798463010774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-minh-18052023</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-minh-18052023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798463010774:ios:049c0d2a70a9c5abd7a677</string>
</dict>
</plist>